* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 98vw;
    height: 100vh;
    /* display: grid;
    grid-template-rows: repeat(3, 0,5fr) repeat(3 1,5fr) repeat(2, 0,5fr);
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header header"
                        "header header"
                        "maininicio maininicio"
                        "maininicio maininicio"
                        "maininicio maininicio"
                        "maininicio maininicio"
                        "footer footer"
                        "footer footer"; */
}

header {
    width: 98vw;
    display: grid;
    grid-area: header;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "headerdiv"
                        "botonera";
}

.header__div {
    padding-left: 4vw;
    background-color: #182069;
    grid-area: headerdiv;
    display: flex;
    align-items: center;
}

.header__div--img {
    padding: 0.5vw;
    max-width: 80px;
    max-height: 80px;
}

.header__div--h1 {
    padding-left: 2vw;
    text-shadow: 0 0 4px goldenrod;
}

nav {
    width: 98vw;
    background-color: #f00;
    border: 2px solid black;
    grid-area: botonera;
    padding-left: 2vw;
}

nav ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    top: 35%;
}

nav ul li {
    display: inline-block;
    padding-left: 4vw;
}

.botones {
    border: 3px dotted black;
    padding: 4px 14px;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

#maininicio {
    width: 98vw;
    display: grid;
    grid-area: maininicio;
    margin: 1vw;
    grid-template-rows: 0,5fr repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "ultimasnoticias ultimasnoticas"
                        "noticias1 noticias1"
                        "noticias2 noticias2"
                        "noticias3 noticias3";
}

#ultimasnoticas {
    grid-area: ultimasnoticias;
}

#main__div__h2 {
    background-color: #f00;
    display: inline-block;
    padding: .5vw 3vw .5vw 3vw;
    margin-bottom: 1vw;
    color: white;
    border: 2px dotted black;
}

#noticias1 {
    background-color: rgb(242, 242, 232);
    width: 60em;
    margin-top: 2vw;
    border: 1px solid black;
    grid-area: noticias1;

}

#noticias2 {
    background-color: rgb(242, 242, 232);
    width: 60em;
    margin-top: 1vw;
    border: 1px solid black;
    grid-area: noticias2;
}

#noticias3 {
    background-color: rgb(242, 242, 232);
    width: 60em;
    margin-top: 1vw;
    border: 1px solid black;
    grid-area: noticias3;
}

.main__section--img {
    max-height: 15em;
    float: left;
    position: relative;
    padding: 1vw;
}

.main__section--p {
    overflow: hidden;
    padding-top: 1vw;
}

main section h3 {
    margin-top: 0.4vw;
    text-decoration: underline;
}

footer {
    background-color: #f00;
    border: 2px solid black;
    margin-top: 2vw;
    padding-left: 1vw;
    padding-top: 1vw;
    width: 98vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 4;
}

#aav {
    align-items: center;
    padding-right: 50px;
}

#actc {
    align-items: center;
    padding-right: 50px;
}

#cda {
    align-items: center;
    padding-right: 50px;
}

#instagram {
    text-align: center;
    padding-right: 50px;
}

#facebook {
    text-align: center;
    padding-right: 50px;
}

#whatsapp {
    text-align: center;
    padding-right: 50px;
}

footer div img {
    max-width: 80px;
    max-height: 30px;
    padding-right: 1vw;
}



/* CSS DE LA PAGINA EVENTOS */

#maineventos {
    width: 98vw;
    display: grid;
    grid-template-rows: 0,5fr 3fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "div1 div1"
                         "div2 div3"
                         "div4 div4"
}

#div1 {
    background-color: rgb(242, 242, 232);
    border: 2px solid black;
    grid-area: div1;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    text-align: center;
}

#div2 {
    text-align: center;
    background-color: rgb(242, 242, 232);
    border: 2px solid black;
    grid-area: div2;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
}

#div3 {
    text-align: center;
    background-color: rgb(242, 242, 232);
    border: 2px solid black;
    grid-area: div3;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
}

#div4 {
    text-align: center;
    background-color: rgb(242, 242, 232);
    border: 2px solid black;
    grid-area: div4;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
}

li {
    list-style: none;
}

.main__div--h4 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
    padding-bottom: 1vw;
}

.main__div--p {
    line-height: 1.6;
    font-weight: 700;
}

div ol li p {
    border: 1px solid #f00;
    margin-top: 0.3em;
    margin-bottom: 0,5em;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    display: inline-block;
    background-color: #182069;
    color: white;
}

.categoria {
    margin-bottom: 1vw;
    border: 2px dotted goldenrod;
    text-align: center;
    line-height: 1.6;
}


/* CSS DE LA PAGINA GALERIA */

#maingaleria {
    font-family: 'Raleway', sans-serif;
}

#maintitulo {
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea {
    background: #182069;
    height: 5px;
    width: 98vw;
    display: block;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria--a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

.galeria--img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.presentarimagen {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.presentarimagen img {
    width: 75vw;
    max-height: 90vh;
}

.presentarimagen:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background:#f00;
    color: white;
    width: 40px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: #f00;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
}

/* CSS DE LA PAGINA HISTORIA DEL BAC */

#mainhistoria {
    width: 98vw;
    align-items: center;
    text-align: center;
}

#titulohistoria {
    font-family: 'Ms Madi', cursive;
    font-size: 80px;
    text-shadow: 0 0 10px goldenrod;
}

#imagenhistoria {
    margin-top: 4vh;
    border: 4px solid #182069;
    box-shadow: 0 0 10px goldenrod;
    overflow: hidden;
    max-width: 600px;
}

#textohistoria {
    background-color: rgb(242, 242, 232);
    margin: 4vw;
    line-height: 1.6;
    border: 2px solid #182069;
    padding: 1vw;
    box-shadow: 0 0 10px goldenrod;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

/* CSS DE LA PAGINA CONTACTO */

#mainconsulta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "form com";
}

#form {
    padding-left: 2vw;
    padding-top: 4vh;
    align-items: center;
    text-align: center;
    grid-area: form;
    line-height: 2;
}

#comision {
    padding: 1vh 0;
    align-items: center;
    text-align: center;
    grid-area: com;
    line-height: 2;
    font-family: cursive;
    font-weight: 700;
    font-size: 18px;
}

#titulocomision {
    font-family: 'Ms Madi', cursive;
    font-size: 50px;
}

div ul li i {
    text-decoration: underline;
}