#maincontacto {
    background: map-get($colores, "baseazul");
    color: white;
    font-family: $tipografia-quicksand;
    padding: 0 1em;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: 2em;
    div{
        .titulocontacto {
            text-align: center;
            font-size: 3em;
            span {
                color: map-get($colores, "baserojo");
            }
        }
    }
    .formcompleto{
        margin-top: 1em;
        box-shadow: 0 0 20px map-get($colores, "sombreado");
        @include formumlario;
    }
    .infocontacto {
        padding: 1em;
        background: map-get($colores, "fondotexto");
        h4, ul {
            text-align: center;
            margin: 0 0 1rem 0;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                padding: .3em;
            }
        }
        #titulocomision {
            font-size: 2em;
            font-family: $tipografia-msmadi;
        }
    }
}