#maineventos {
    font-family: $tipografia-quicksand;
    background: map-get($colores, "baseazul");
    color: map-get($colores, "texto");
    width: auto;
    display: grid;
    grid-template-rows: 0,5fr 3fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "div1 div1"
                        "div2 div3"
                        "div4 div4";
    #div1 {
        background-color: map-get($colores, "fondotexto");
        border: 2px solid map-get($colores, "baserojo");
        grid-area: div1;
        margin: 1vw;
        padding-bottom: 1vh;
        text-align: center;
        line-height: 2;
    }
    #div2 {
        text-align: center;
        background-color: map-get($colores, "fondotexto");
        border: 2px solid map-get($colores, "baserojo");
        grid-area: div2;
        margin: 1vw;
        padding-top: 2vh;
    }
    #div3 {
        text-align: center;
        background-color: map-get($colores, "fondotexto");
        border: 2px solid map-get($colores, "baserojo");
        grid-area: div3;
        margin: 1vw;
        padding-top: 2vh;
    }
    #div4 {
        text-align: center;
        background-color: map-get($colores, "fondotexto");
        border: 2px solid map-get($colores, "baserojo");
        grid-area: div4;
        margin: 1vw;
        padding-top: 2vh;
    }
    div {
        .main__div--h4 {
            text-align: center;
            text-decoration: underline;
            font-size: 1.2em;
            padding-bottom: 1vw;
        }
        .main__div--p {
            line-height: 1.6;
            font-weight: 700;
        }
        ol{
            @include lista-categoria;
        }
    }
}