#mainhistoria {
    background: map-get($colores, "baseazul");
    width: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 2vw;
    div {
        #titulohistoria {
            font-family: $tipografia-msmadi;
            font-size: 80px;
            text-shadow: 0 0 10px map-get($colores, "sombreado");
        }
    }
    section{
        #imagenhistoria {
            margin-top: 4vh;
            border: 4px solid map-get($colores, "baseazul");
            border-radius: 3%;
            box-shadow: 0 0 10px map-get($colores, "sombreado");
            overflow: hidden;
            max-width: 600px;
        }
    }
    section {
        #textohistoria {
            color: map-get($colores, "texto");
            background-color: map-get($colores, "fondotexto");
            margin: 4vw 8vw 2vw 8vw;
            line-height: 1.6;
            border: 2px solid map-get($colores, "baseazul");
            border-radius: 3%;
            padding: 1vw;
            box-shadow: 0 0 20px map-get($colores, "sombreado");
            font-family: $tipografia-raleway;
            font-size: 20px;
            font-weight: 500;
        }
    }
    section {
        .fundadores {
            border: 2px solid map-get($colores, "textofondo");
            box-shadow: 0 0 20px map-get($colores, "sombreado");
            border-radius: 3%;
            display: inline-block;
            height: 300px;
            width: 200px;
            margin: 0 2em;
        }
    }
}