#maininicio {
    background: #182069;
    width: auto;
    display: grid;
    padding: 1vw;
    grid-template-rows: 0,5fr repeat(3, 1fr);
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "ultimasnoticias ultimasnoticias"
                        "noticias1 noticias1"
                        "noticias2 noticias2"
                        "noticias3 noticias3";
    #ultimasnoticias {
        grid-area: ultimasnoticias;
        .main__div__h2 {
            font-family: 'Quicksand', sans-serif;
            padding-top: .5em;
            padding-left: 1em;
            margin-bottom: 1vw;
            color: white;
            font-size: 2em;
            span {
                color: #f00;
            }
        }
    }
    #noticias1 {
        background-color: #0a0f37;
        width: 60em;
        margin-top: 2vw;
        border: 1px solid #f00;
        grid-area: noticias1;
        color: white;
        .main__section--img {
            max-height: 15em;
            float: left;
            position: relative;
            padding: 1vw;
        }
        .main__section--p {
            overflow: hidden;
            padding-top: 0.7vw;
            padding-right: 0.5vw;
        }
        main section h3 {
            margin-top: 1vw;
            text-decoration: underline;
        }
    }
    #noticias2 {
        background-color: #0a0f37;
        width: 60em;
        margin-top: 2vw;
        border: 1px solid #f00;
        grid-area: noticias2;
        color: white;
        .main__section--img {
            max-height: 15em;
            float: left;
            position: relative;
            padding: 1vw;
        }
        .main__section--p {
            overflow: hidden;
            padding-top: 0.7vw;
            padding-right: 0.5vw;
        }
        main section h3 {
            margin-top: 1vw;
            text-decoration: underline;
        }
    }
    #noticias3 {
        background-color: #0a0f37;
        width: 60em;
        margin-top: 2vw;
        border: 1px solid #f00;
        grid-area: noticias3;
        color: white;
        .main__section--img {
            max-height: 15em;
            float: left;
            position: relative;
            padding: 1vw;
        }
        .main__section--p {
            overflow: hidden;
            padding-top: 0.7vw;
            padding-right: 0.5vw;
        }
        main section h3 {
            margin-top: 1vw;
            text-decoration: underline;
        }
    }

}