@media screen and (max-width: 850px) {
    #noticias1 {
        align-items: center;
        width: 80%;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 2vw;
    }

    #noticias2 {
        align-items: center;
        width: 80%;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 2vw;
    }

    #noticias3 {
        align-items: center;
        width: 80%;
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 4vw !important;
    }

    .main__section--img {
        padding: 4vw;
        max-height: 25em !important;
        float: none !important;
    }

    .main__section--p {
        margin-top: .5em;
        padding: 1.5em;
    }
}

@media screen and (max-width: 750px) {
    #noticias1 {
        align-items: center;
        width: 80%;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2vw;
    }

    #noticias2 {
        align-items: center;
        width: 80%;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2vw;
    }

    #noticias3 {
        align-items: center !important;
        width: 80%;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 4vw !important;
    }

    .main__section--img {
        padding: 4vw;
        max-height: 20em !important;
        float: none !important;
        align-content: center !important;
    }

    .main__section--p {
        margin-top: .5em;
        padding: 0 1.5em;
        padding-right: 20px !important;
    }

    h3 {
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 520px) {
    #noticias1 {
        align-items: center;
        width: 80%;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2vw;
    }

    #noticias2 {
        align-items: center;
        width: 80%;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2vw;
    }

    #noticias3 {
        align-items: center !important;
        width: 80%;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 4vw !important;
    }

    .main__section--img {
        padding: 4vw;
        max-height: 15em !important;
        float: none !important;
        align-content: center !important;
    }

    .main__section--p {
        margin-top: .5em;
        padding: 0 1.5em;
        padding-right: 20px !important;
    }

    h3 {
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 375px) {
    #noticias1 {
        align-items: center !important;
        width: auto !important;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 4vw !important;
    }

    #noticias2 {
        align-items: center !important;
        width: auto !important;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 4vw !important;
    }

    #noticias3 {
        align-items: center !important;
        width: auto !important;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 4vw !important;
    }

    .main__section--img {
        padding: 4vw;
        max-height: 11em !important;
        float: none !important;
        align-content: center !important;
    }

    .main__section--p {
        margin-top: .5em;
        padding: 0 1.5em;
        padding-right: 20px !important;
    }

    h3 {
        padding: 0 1.5em;
    }
}