@media screen and (max-width: 576px) {

    #titulohistoria {
        font-size: 50px;
    }
    
    #imagenhistoria {
        margin-top: 2vh;
        max-width: 300px;
    }
    
    #textohistoria {
        margin: 1vw 2vw;
        line-height: 1.4;
        border-radius: 0%;
        font-size: 16px;
        font-weight: 300;
    }
}