@media screen and (max-width: 620px) {

    #titulohistoria {
        font-size: 50px !important;
    }
    
    #imagenhistoria {
        margin-top: 2vh;
        max-width: 300px !important;
    }
    
    #textohistoria {
        margin: 2vw 2vw !important;
        line-height: 1.6 !important;
        border-radius: 0% !important;
        font-size: 14px !important;
        font-weight: 300;
    }
}