@media (min-width: 801px) {
    #maincontacto {
        padding: 2rem 4rem;
    }

    .formcompleto {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .formcompleto > * {
        padding: 2em;
    }
}