@media (max-width: 991px) {

    header .navbar {
        text-align: center;
        top: 80px;
        left: 0;
        right: 0;
        background: map-get($colores, "baserojo");
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    header .navbar ul li {
        width: 100%;
    }
}