$colores:(
    "baserojo" : #f00,
    "baseazul" : #182069,
    "texto" : white,
    "fondotexto" : #0a0f37,
    "form" : #293598,
    "sombreado" : goldenrod,
);

$tipografia-quicksand: 'Quicksand', sans-serif;
$tipografia-raleway: 'Raleway', sans-serif;
$tipografia-msmadi: 'Ms Madi', cursive;